.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 3.5em;
  margin: 0em;
  line-height: 100%;
  position: relative;
  color: #05C491;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}

.download{
  padding: 100px 0 !important;
}