#features li{
  list-style-type:circle;
}



section.download{
  padding: 60px 0  30px 0 !important;
  display: block;
}



.features{
  padding:30px 0;
}

.contact{
  padding:30px 0;
}
.contact h2{
  margin-bottom:0px !important;
}
.cta{
  text-align: center;
  color:white;
  padding: 100px 0px !important;
}

.vision-header{
  background-image: url("../img/cover/cover1.jpg");
}

.budget-header{
  background-image: url("../img/cover/cover7.jpg");

}

.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 3.3em;
  margin: 0em;
  line-height: 100%;
  position: relative;
  color: #026174;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}

.download{
  padding: 100px 0 !important;
}
h2{
  line-height: 50px;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 70%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}


.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #DBDBDB;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 40px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 30px;
  height: 30px;
  margin-left: 26px;
  text-align: center;
  color: white;
  bodrder: 2px solid #049C74;
  border-radius: 100%;
  background-color: #05C491;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > p{
  font-size: 16px;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 30px;
    height: 30px;
    margin-left: -16px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 30px;
    height: 30px;
    margin-left: -16px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.timeline-image-end{
  background-color:#F25F5C !important;
  border-radius: 0% !important;
}

.timeline-last{
  min-height:20px !important;
}

.timeline-last .timeline-panel {
  padding-bottom:0px !important;
}

.navbar{
  paddding:0px;
}

.btn-success{
  background-color:#05C491;
}

.btn-success {
  color: #fff;
  background-color: #05C491;
  border-color: #05C491;
}

.btn-success:hover {
  color: #fff;
  background-color: #05C491;
  border-color: #05C491;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}